/* Employee.css */
.employee-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #0c0c0c; /* Add border to the table */
  }
  
  .employee-table th,
  .employee-table td {
    border: 1px solid #0c0c0c;
    padding: 8px;
    text-align: left;
  }
  
  .employee-table th {
    background-color: #7acadf;
  }
  
  .employee-table tr:nth-child() {
    background-color: #f3e9f1;
  }
  
  .employee-table tr:hover {
    background-color: #f1f1f1;
  }

  /*Update button and delete button*/
  .update-employee-btn {
    background-color: #035806; /* Green */
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .delete-employee-btn {
    background-color: #e61405; /* Red */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .update-employee-btn:hover, .delete-employee-btn:hover {
    opacity: 0.8;
  }

  .update-employee-icon {
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 24px; /* Adjust size as needed */
    color: #08386b; /* Change color as needed */
    transition: color 0.3s; /* Add transition for hover effect */
    padding-right: 10px;
  }
  
  .update-employee-icon:hover {
    color: #0056b3; /* Change color on hover */
  }

  .delete-employee-icon {
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 24px; /* Adjust size as needed */
    color: #ee0c0c; /* Change color as needed */
    transition: color 0.3s; /* Add transition for hover effect */
  }
  
  .delete-employee-icon:hover {
    color: #dc3545; /* Change color on hover */
  }
  
  