<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!-- Specifies the handler for Node.js -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Enables directory browsing (optional) -->
    <directoryBrowse enabled="false" />
    
    <!-- Specifies default document -->
    <defaultDocument>
      <files>
        <add value="app.js" />
      </files>
    </defaultDocument>
    
    <!-- Error pages -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Enables logging of stdout and stderr for debugging -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
