.feedbackForm {
   
   width: 500px;
  margin: 0 auto;
  background-image:linear-gradient(#ffffff,#7dd6ff); /* Light grey background for the outer container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.932);
  backdrop-filter: blur(10px); /* Adds a subtle blur effect */
  margin-top: 20px;
  margin-bottom: 20px;
  height: 400px;
}

form {
    display: flex;
    flex-direction: column;
  }

  table {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  td {
    padding: 10px;
  }
  
  input {
    width: 350px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    width: 350px; /* Matches the input width */
    padding: 8px; /* Matches the input padding */
    border: 1px solid #ccc; /* Matches the input border */
    border-radius: 4px; /* Matches the input border-radius */
    box-sizing: border-box; /* Ensures consistent sizing */
    resize: vertical; /* Allows only vertical resizing */
    font-size: 1em; /* Matches the input font size */
    min-height: 100px; /* Sets a default height */
  }

  .feedbackButton {
    
    width:90%;
    padding: 10px;
    background-color: #080a6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    
}

.trFeedback{
    content-visibility: hidden;
  }

  .feedbackTopic{
    text-align: center;
    font-size: 24px;
    font-style: bold;
    margin-top: 30px;
  }