.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Space above pagination controls */
  }
  
  .pagination button {
    background-color: #035806; /* Green background for buttons */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 15px; /* Padding for button */
    margin: 0 5px; /* Spacing between buttons */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .pagination button:disabled {
    background-color: #cccccc; /* Light gray for disabled buttons */
    cursor: not-allowed; /* Not-allowed cursor for disabled buttons */
  }